In [ ]:
#data_link:https://www.kaggle.com/datasets/mrsimple07/diabetes-prediction?select=Diabetes_prediction.csv

In [1]:
import pandas as pd

In [3]:
Diabetes_data=pd.read_csv("Diabetes_prediction.csv")

In [4]:
Diabetes_data.shape

(1000, 9)

In [5]:
Diabetes_data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis
0,2,115.863387,56.410731,24.336736,94.385783,26.455940,0.272682,20.100494,0
1,2,92.490122,70.615520,23.443591,138.652426,23.910167,0.665160,44.912281,0
2,1,88.141469,63.262618,23.404364,149.358082,21.948250,0.676022,48.247873,1
3,2,108.453101,67.793632,20.751580,108.751638,24.209304,0.289636,42.749868,0
4,1,127.849443,94.725685,22.603078,25.269987,32.997477,0.601315,32.797789,0

In [7]:
Diabetes_data['Diagnosis'].value_counts()

Diagnosis
0    694
1    306
Name: count, dtype: int64

In [17]:
Diag_count=Diabetes_data.groupby(['Diagnosis']).size()

In [18]:
(Diag_count/len(Diabetes_data))*100 #percentage

Diagnosis
0    69.4
1    30.6
dtype: float64

In [19]:
Diabetes_data.groupby('Diagnosis').mean() #to calculate the mean for every variable based on the groups of Diagnos

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Diagnosis,,,,,,,,
0,1.772334,99.504846,72.084485,23.278327,82.823035,25.515244,0.441372,43.711192
1,1.767974,99.294917,72.396092,23.278291,88.573505,25.248433,0.467550,42.307942

In [24]:
Diabetes_data[['Glucose','Diagnosis']].groupby('Diagnosis').mean()

             Glucose
Diagnosis
0          99.504846
1          99.294917

In [26]:
Diabetes_data[['Pregnancies','Diagnosis']].groupby(['Diagnosis','Pregnancies']).size()

Diagnosis  Pregnancies
0          0              131
           1              194
           2              186
           3              104
           4               50
           5               24
           6                4
           8                1
1          0               54
           1               91
           2               76
           3               53
           4               23
           5                7
           6                2
dtype: int64

In [27]:
Diabetes_data[['Pregnancies','Diagnosis']].groupby(['Diagnosis']).sum()

           Pregnancies
Diagnosis
0                 1230
1                  541

In [31]:
Diabetes_data[Diabetes_data.Diagnosis==0]['Age'].mean()

43.711192395428746